/* You can add global styles to this file, and also import other style files */
.container {
  max-width: 800px;
  margin: 50px auto;
}
.center-content {
  display: flex;
  justify-content: center;
}
